/* channeling page */

.channeling-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-panel {
    width: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-panel {
    position: relative;
    margin-left: 100px;
    margin-right: 80px;
    left: -100px;
}

.vertical-line {
    position: absolute;
    top: 60px;
    bottom: 150px;
    left: 50%;
    border-left: 3px solid #ccc;
}

.right-panel {
    width: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 160px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-panel {
    position: relative;
    margin-left: 100px;
    margin-right: 80px;
    left: 60px;
}

h2 {
    margin-bottom: 20px;
}

.CHform-group {
    margin-bottom: 15px;
}

.CHform-group label {
    display: block;
    margin-bottom: 5px;
}

.CHform-group input,
.CHform-group select {
    width: 150%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.CHbtn button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.CHbtn button:hover {
    background-color: #0056b3;
}