.navbar {
    background-color: #b3cae9;
    color: #1f118b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

.logo a {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #1f118b;
}

.nav-items {
    display: flex;
}

.nav-items a{
    font-family: Arial, sans-serif !important;
    color: #1f118b;
    text-decoration: none;
    position: relative;
    padding:  25px;
    font-weight: bold;
}

.nav-items a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 13px;
    left: 1;
    background-color: transparent;
    transition: width 0.3s, backgroud-color 0.3s;
}

.nav-items a:hover::before {
    width: 60%;
    background-color: #1f118b;
}

.nav-items a.active {
    background-color: #e1e9f3;
    height: 50 px;
}

.header{
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    padding : 10px;
}

h1 {
    color : black;
    text-align : center;
    margin-top : 0;
}

/*Body*/
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color:#b3cae9;;
    color:#1f118b;
} 
                                                                
