/*-------------header-----------*/
/* Global styles */
* {
  margin: 0;  /* Reset margin */
  padding: 0;  /* Reset padding */
  box-sizing: border-box;  /* Include padding and border in element's total width and height */
  font-family: "Poppins", sans-serif;   /* Set default font family */
}

/* HTML styles */
html {
  scroll-behavior: smooth;  /* Smooth scrolling behavior */
  height: 100%;  /* Set height to 100% */
}

/* Header styles */
.header {
  padding: 65px;
  text-align: center;
  background: rgb(18, 138, 185);
  color: rgb(248, 248, 248);
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: -20px;
  height: 130px;
}

/* Header heading styles */
.header h1 {
  font-size: 30px;
  word-spacing: 15px;  /* Set word spacing */
  letter-spacing: 1.5px;  /* Set letter spacing */
  text-align: center;
  padding: 30px;
  position: absolute;
  width: 80%;
  top: 5px;
  margin-left: 80px;
  margin-top: 20px;
}

/* Logo image styles */
.header img.logo {
  border-radius: 8px;
  position: absolute;  /* Absolute positioning */
  top: 35px;
  left: 40px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  background: #ffffff;
  padding: 1px; /* Add padding */

}

/* User image styles */
.header img.user {
  border-radius: 8px;  /* Add border radius */
  position: absolute;  /* Absolute positioning */
  top: 40px;  /* Position from top */
  right: 75px;  /* Position from right */
  width: 50px;   /* Set width */
  height: 50px;  /* Set height */
  object-fit: cover;  /* Ensure image covers its container */

}

/* Logout button styles */
#logout-button {
  background-color: #710c67;
  /* Background color of the button */
  color: #fff;
  /* Text color */
  padding: 1px 5px;
  /* Padding around the button text */
  font-size: 11px;
  /* Font size */
  border: none;
  /* Remove button border */
  border-radius: 3px;
  /* Rounded corners */
  cursor: pointer;
  /* Show pointer cursor on hover */
  transition: background-color 0.3s ease;
  position: absolute;
  margin-left: 650px;
  top: 50px;
  width: 50px;
  height: 30px;
}

#logout-button:hover {
  background-color: #ffffff;
  /* Background color of the button */
  color: #000000;
  /* Text color */
}

.login-button:hover {
  background-color: #4a0443;
  /* Darker background color on hover */
}

#signup-button:hover {
  background-color: #0b123a;
  /* Darker background color on hover */
}

/* Navigation list styles */
#nav1 {
  list-style-type: none;
  margin: 0;
  padding: 1px;
  overflow: hidden;
  background-color: #122177;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 40px;
  top: 110px;
}

/* Navigation list item styles */
#nav1 li {
  float: left;
  width: 20%;
  border-right: #333;
}

/* Last navigation item styles */
#nav1 li:last-child a {
  border-right: none;  /* Remove right border */
}

 /* Navigation link styles */
#nav1 li a {
  font-size: 18px;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  width: 220px;
}

/* Navigation link hover styles */
#nav1 li a:hover {
  background-color: #111;
  width: 100%;
}


/*-------------body-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;

}
/* Card styles */
.card {
  box-sizing: border-box;  /* Include padding and border in element's total width and height */
  margin: 15px;  /* Add margin */
}

.row {
  display: flex;   /* Use flexbox */
  gap: 15px;  /* Set gap between items */

}

/* Column styles */
.column {
  flex: 1;  /* Set flex to 1 */
  padding: 20px;  /* Add padding */
}

/* Left column styles */
.left {
  order: 1;   /* Set order */
}

/* Right column styles */
.right {
  order: 2;   /* Set order */
}

/* Button styles */
.btn {
  margin-top: -50px;
  padding: 12px;
  background: rgb(135, 206, 253);
  border: none;  /* Remove border */
  outline: none;  /* Remove outline */
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;   /* Set cursor */
  transition: 1s;
  margin-left: 1150px;
  margin-bottom: 50px;

}

/* Button hover styles */
.btn:hover {
  background: rgb(0, 37, 160); /* Change background */
  color: #ffffff;


}
/* Styles for column titles */
.column .title {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;   /* Transform text to uppercase */
  margin-bottom: 5px;

}

/* Styles for input boxes within columns */
.column .input-box {
  margin: 15px;

}

/* Styles for flex layout within right column */
.column .right.flex {
  display: flex;  /* Use flexbox */
  gap: 15px;

}

/* Styles for input boxes within flex layout */
.right.flex.input-box {
  margin-top: 5px;
  width: 60px;

}

/* Styles for input fields */
.input-box input {
  width: 100%;
  padding: 15px 15px;
  border-radius: 6px;
  font-size: 15px;
  background: rgb(144, 156, 164);
}

/* Styles for select boxes */
.input-box select {
  width: 100%;
  padding: 15px 15px;
  border-radius: 6px;
  font-size: 15px;
  background: rgb(144, 156, 164);
}

/* Styles for flex layout */
.flex {
  display: flex;
  width: 100%;
  gap: 15px;  /* Set gap between items */
  margin-top: 10px;

}

/* Styles for unordered list within input boxes */
.input-box ul {
  display: flex;
  list-style: none; /* Remove list style */
  gap: 20px;
  margin-top: 10px;
}

/* Styles for list items within unordered list */
.input-box ul li {
  display: flex;
  align-items: center;  /* Align items vertically */
}

/* Styles for payment element */
.payment {
  width: 200px;
  /* Adjust width as needed */
  height: 100px;
  /* Adjust height as needed */
}

/* Styles for titles */
.title {
  margin-top: 75px; /* Add top margin */
}