.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 97%;
    margin-bottom: 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    text-align: center;
}

#profile-image {
    width: 200px;
    height: 200px;
}

.user-details {
    background-color: whitesmoke;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 10px;
}

.user-data {
    padding: 5px;
    border-bottom: 1px solid #000000;
}

.profile-left {
    width: 30%;
    left: 0;
}

.profile-right {
    position: absolute;
    right: 0;
    width: 70%;
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.profile-table th, .profile-table td {
    border: 1px solid black;
}

.profile-table th, .profile-table td {
    border: 1px solid black;
    padding: 8px;
}

.profile-table th {
    background-color: #f2f2f2; 
    color: #333;
}

.profile-table td {
    background-color: #fff;
    color: #666; 
}

.delete {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 4px 10px;
    border-radius: 4px; 
}

.edit{
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 4px 10px;
    border-radius: 4px;
}
