body {
	background: linear-gradient(90deg, #c6d1dc 0%, rgba(55, 132, 200, 0.83) 100%);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px; 
	margin: 0px;
	width: 100%;
	height: auto;
}

.container {
  
	background-color: linear-gradient(90deg, #8cbdef 0%, rgba(61, 46, 232, 0.83) 100%); /* Change to a solid color */
	border-radius: 25px;
	box-shadow: 0 20px 30px rgba(0,0,0,0.25), 
		        0 20px 20px rgba(0,0,0,0.22);
	position: static;
	overflow: hidden;
	width: 90%; 
    height: auto;
	margin: auto;
	padding-bottom: 30px; /*Center the container horizontally */
    
}



h2 {

    font-size:2rem;
}



.blank {

padding: 50px; 

}


.secondcontainer{

margin-top: 10px;
margin-bottom: 30px;


}


.slider-wrapper {
	position: relative;
	width: 900px;
    height: 10%;
	margin:  0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 4;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
	background-size: cover;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}


button {
	border-radius: 25px;
	border: 1px solid #00b4cf;
	background-color: #00b4cf;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor:pointer;
   
}

button:hover {
  opacity:0.7;
}

textarea {
	background-color: #eee;
	border: none;
    border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    font-size:0.8rem;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
   margin: auto;
  }
  
  td, th {
    border: 1px solid #313030;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h3{

    margin: auto;
    text-align: center;

  }

  

  .action{
	display: flex;
	flex-direction: row;
	gap: 10px;
  }

  .f-btn{
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
  }

  .u-btn{
	display: flex;
	flex-direction: row;
	gap: 30px;
  }

  .content{
	background-size: cover;
  }

  .content {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 50px;
	margin-top: 200px;
	color: #131212;
	z-index: 100000;
	cursor: pointer;
  }

  