body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 241, 241);
}

.navbar {
    /* navigation */
    background-color: #b3cae9;
    color: #1f118b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

.logo a {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #1f118b;
}

.nav-items {
    display: flex;
}

.nav-items a {
    color: #1f118b;
    text-decoration: none;
    position: relative;
    padding: 15px;
}

.nav-items a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 13px;
    left: 1;
    background-color: transparent;
    transition: width 0.3s, backgroud-color 0.3s;
}

.nav-items a:hover::before {
    width: 80%;
    background-color: #1f118b;
}

.nav-items a.active {
    background-color: #e1e9f3;
}

/* login and register button */
.accounts a {
    color: #1f118b;
    text-decoration: none;
    padding: 15px;

}

.accounts a:hover {
    background-color: #e1e9f3;
}

.separator {
    color: #1f118b;
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #b3cae9;
    ;
    color: #1f118b;
}

/* login page and register page*/


/* channeling page */

.channeling-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-panel {
    width: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-panel {
    position: relative;
    margin-left: 100px;
    margin-right: 80px;
    left: -100px;
}

.vertical-line {
    position: absolute;
    top: 60px;
    bottom: 150px;
    left: 50%;
    border-left: 3px solid #ccc;
}

.right-panel {
    width: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 160px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-panel {
    position: relative;
    margin-left: 100px;
    margin-right: 80px;
    left: 60px;
}

h2 {
    margin-bottom: 20px;
}

.CHform-group {
    margin-bottom: 15px;
}

.CHform-group label {
    display: block;
    margin-bottom: 5px;
}

.CHform-group input,
.CHform-group select {
    width: 150%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.CHbtn button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.CHbtn button:hover {
    background-color: #0056b3;
}